.form{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 25px 20px 20px;
    width: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);;
    h1{
        text-align: center;
        margin-bottom: 20px;
    }
}