.title-slide{
    color: #FFF;
    border-bottom: 0.5px solid #fafafa;
    margin: 0 20px;
    opacity: 0.7;
    padding-left: 10px;
    font-weight: 600;
}
.logo-header{
    height: 64px;
    text-align: center;
    color: #FFF;
    padding-top: 12px;}